/* Main colors */
:root {
  --mainBlack: #000000;
  --mainLIghtGreen: #79b0a1;
  --mainWhite: #fdfdfd;
  --main-gray: #fafafa;
}

body {
  font-family: 'ABeeZee', sans-serif !important;
  background-color: var(--mainWhite) !important;
  margin: 5% 15% !important;
}

/* NAVBAR */

.logo-brand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  margin-bottom: 2%;
}

.lightnavbar {
  background-color: var(--main-gray);
}

.navlinks {
  display: contents;
}

.style-link {
  margin: 0% 5%;
}